.burger-btn {
   background: var(--border-color);
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 2rem;
   min-width: 2rem;
   border-radius: 8px;
   position: relative;
   svg {
      transition: all 0.25s cubic-bezier(0.65, 0, 0.35, 1);
   }
   &.active {
      svg {
         transform: rotate(45deg) scale(1.1);
      }
   }
}
