.quick-notes-page {
   .new-note-form {
      .new-note-title {
         font-weight: 600;
         font-size: 1.2rem;
         margin-top: 1.3rem;
      }
      .btn-create-note {
         padding: 0.5rem 0.75rem;
         min-width: 200px;
         margin-bottom: 1rem;
      }
   }
}
