$primary-white: #ffff;
$secondary-dark: #19191c;
$dark: #000;
$dark-primary-blue: #1f2937;
$dark-secondary-blue: #374151;
$font-light: #111827;
$font-light-muted: #6b7280;
$font-dark-muted: #9ca3af;

:root {
   --primary-white: #ffff;
   --secondary-dark: #19191c;
   --dark: #000;
   --dark-primary-blue: #1f2937;
   --dark-secondary-blue: #374151;
   --hover-light: #ececec;
   --font-light: #111827;
   --font-light-muted: #6b7280;
   --font-dark-muted: #9ca3af;
   --border-color: #e5e7eb;
   --strong-grey: #a1a1aa;
   --error: #d32f2f;
   --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.08);
}
